@model MicroBlogWebsite.Model.UserInfoLogin
@* model--指定视图的类型 *@


@{
    ViewBag.Title = "Login";   //title名称
    Layout = "~/Views/shared/_LayoutAccess.cshtml";  //@* 模板页 *@
}

@section Head{
    <link href="~/Content/css/LoginRegisteStyle.css" rel="stylesheet" />
    <style type="text/css">
        .RememberPwd {
            margin-left:35px;
        }
        .navTopleft{
            margin-top:50px;
        }
        .panel-body {
            height:300px;
        }
         .Bgleft {
             font-style:oblique;
            font-size: 30px;
            color: #ffffff;
        }
    </style>
}


<div class="Panelmaster" style="background-image: url(/Content/images/AccessImg/yuanhua1.jpg);background-repeat:no-repeat;background-size:100% 100%;">
    <div class="navTop">
        @*<a href="~/Home/Index">
                <img src="~/Content/Images/IndexImg/1531469861.png" />
            </a>*@



    </div>
    @*<div style=" border-bottom: 1px solid #949090;"></div>*@

    <div class="Bottoms">
            @*<img width="700" src="~/Content/Images/LoginImg/bgLoginImg.PNG" />*@
            <p class="Bgleft">你的心声，</p>
            <p class="Bgleft">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;世界的回声。</p>
       
        <div class="panel panel-success">
            <div class="panel-heading text-center"><h2>登录</h2></div>
            <div class="panel-body">
                @using (@Html.BeginForm("Login", "Access", FormMethod.Post, new { @id = "" }))
                {
                    <h4 class="form-Tips" style="color:red;">@Html.ValidationMessageFor(m => m.UserEmail,null, new { @style = "color:red;" }) @Html.ViewBag.LoginErr</h4>
                    <div class="form-group" style="margin-left:25px;">
                        <label>@*用户名：*@</label>
                        &nbsp;&nbsp;&nbsp;邮箱：@Html.TextBoxFor(x => x.UserEmail, new { placeholder = "邮箱", @class = "form-control" })
                    </div>


                    <h4 class="form-Tips">@Html.ValidationMessageFor(m => m.Password, null, new { @style = "color:red" })</h4>
                    <div class="form-group" style="margin-left:49px">
                        @*<label>密码：</label>*@
                        密码：@Html.PasswordFor(x => x.Password, new { placeholder = "密码", @class = "form-control" })
                    </div>

                    <div class="RememberPwd">
                        @*@Html.CheckBoxFor(x => x.RememberPwd, new { @class = "form-RememberPwd" })  记住密码*@
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        <font>@Html.ActionLink("忘记秘密？", "ForgetThePwd", "Access")</font>
                    </div>

                    <div class="text-center">

                        <input class="btn btn-success" type="submit" value="登录" />
                    </div>
                }
                <div class="navTopleft">
                    <font>还没有账号？立即注册 @Html.ActionLink("免费注册", "Register")</font>
                    
                </div>
            </div>

        </div>
    </div>
</div>



