@model MicroBlogWebsite.Model.UserInfoRegister

@{
    ViewBag.Title = "注册";
    Layout = "~/Views/shared/_LayoutAccess.cshtml";
}

@section Head{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/css/LoginRegisteStyle.css" rel="stylesheet" />


    <style type="text/css">
        .BgImg {
            border-radius: 10px;
            margin-left: -150px;
            padding-top: 50px;
            float: left;
            width: 500px;
        }

            .BgImg img {
                border-radius: 10px;
            }
        .form-Tips {
            color:red;
        }
    </style>
}

<div id="Register-DivBox" style="width:inherit;height:800px;">
    <div class="BgImg">
        <img width="800" height="500" src="~/Content/images/AccessImg/RegisterBg.jpg" />
    </div>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h2>注册</h2></div>
        <div class="panel-body">

            @using (@Html.BeginForm("Register", "Access", FormMethod.Post, new { @id = "" }))
            {
                @Html.ValidationSummary(true)
                @*@Html.ValidationMessage("fghfg")*@

                <h4 class="form-Tips" id="NameMag">@*@Html.ValidationMessageFor(m => m.UserName, null, new { @style = "color:red;" })*@</h4>
                <div class="form-group" style="margin-left:25px;">
                    <label>@*用户名：*@</label>
                    用户名：@Html.TextBoxFor(x => x.UserName, new { placeholder = "用户名", @class = "form-control", @id = "UserName" })
                </div>

                <h4 class="form-Tips" id="EmailMsg" style="color:red">@*@Html.ValidationMessageFor(m => m.UserEmail, null, new { @style = "color:red" })*@</h4>
                <div class="form-group" style="margin-left:51px">
                    @*<label>邮箱：</label>*@
                    邮箱：@Html.TextBoxFor(x => x.UserEmail, new { placeholder = "邮箱", @class = "form-control", @id = "UserEmail" })
                </div>

                <h4 class="form-Tips" id="PwdMsg">@*@Html.ValidationMessageFor(m => m.Password, null, new { @style = "color:red" })*@</h4>
                <div class="form-group" style="margin-left:51px">
                    @*<label>密码：</label>*@
                    密码：@Html.PasswordFor(x => x.Password, new { placeholder = "密码", @class = "form-control", @id = "Password" })
                </div>

                <h4 class="form-Tips" id="ConfirmPwdMsg">@*@Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @style = "color:red" })*@</h4>
                <div class="form-group">
                    @*<label>确认密码：</label>*@
                    确认密码：@Html.PasswordFor(x => x.ConfirmPassword, new { placeholder = "确认密码", @class = "form-control", @id = "ConfirmPassword" })
                </div>


                <h4 class="form-Tips" id="VerificationCodeMsg" style="color:red">@*@ViewBag.RegisterMagCode @Html.ValidationMessageFor(m => m.VerificationCode, null, new { @style = "color:red" }) @Html.ViewBag.failInSend*@</h4> @*failInSend邮箱发送失败*@
                <div class="form-group" style="margin-left:36px;">
                    @*<input type="text" class="form-control" style="width:30%;" />*@
                    验证码：@Html.TextBoxFor(x => x.VerificationCode, new { placeholder = "验证码", @id = "InputVerificationCode", @style = "width:30%;", @class = "form-control" })
                    
                    @*value="@Html.Value("fasong")"*@
                    <input class="btn btn-success" id="Obtain" type="button" style="width:110px;height:40px" value="发送" onclick="ObtainSend()" />  @*@Html.Value("fasong")*@



                    @*@Html.ActionLink("获取", "Emails")*@

                    <br />
                </div>

                <div class="text-center">
                    <input class="btn btn-success" type="button" onclick="RegisterFun()" value="注册" />
                </div>
            }

            <script type="text/javascript">
                function ObtainSend() {//发送验证码
                    var UserEmail = $('#UserEmail').val();
                    var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;//验证邮箱
                    if (reg.test(UserEmail)) {
                        $.ajax({
                            url: '/Access/VerificationCode',
                            type: 'POST',
                            data: {
                                UserEmail: $('#UserEmail').val()
                            },
                            success: function (msg) {
                                //alert(msg)
                                if (msg != "") {
                                    var wait = 60;
                                    function time(obj) {
                                        if (wait == 0) {
                                            obj.className = 'btnCode';
                                            obj.removeAttribute("disabled");
                                            obj.value = "获取";
                                            wait = 60;  //waait等于0的时候重新赋值
                                        } else {
                                            obj.className = 'btnCodeDisabled';//按钮变灰，不可点击
                                            obj.setAttribute("disabled", true);
                                            obj.value = "重新发送(" + wait + "秒)";
                                            wait--;
                                            setTimeout(function () {
                                                time(obj)
                                            },
                                            1000)
                                        }
                                    }
                                    time(document.getElementById("Obtain"));
                                }
                            }
                        });
                    }
                    else {
                        //alert(1000000)
                        $('#EmailMsg').text("*邮箱格式错误");
                    }

                }

                function RegisterFun() {
                    
                    var UserName = $('#UserName').val();
                    var UserEmail = $('#UserEmail').val();
                    var Password = $('#Password').val();
                    var ConfirmPassword = $('#ConfirmPassword').val();
                    var InputVerificationCode = $('#InputVerificationCode').val();

                    var NameMsg = $('#NameMsg').val();
                    var EmailMsg = $('#EmailMsg').val();
                    var PwdMsg = $('#PwdMsg').val();
                    var ConfirmPwdMsg = $('#ConfirmPwdMsg').val();
                    var VerificationCodeMsg = $('#VerificationCodeMsg').val();
                    
                    //UserName = null ? $('#NameMag').text("*请输入用户名") : $('#NameMag').text("");
                    if (UserName=="") {
                        $('#NameMag').text("*请输入用户名");
                    } else {
                        $('#NameMag').text("");
                    }
                    var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;//验证邮箱
                    var pwd = /^[a-zA-Z0-9]{6,16}$/;
                    if (!reg.test(UserEmail)) {
                        $('#EmailMsg').text("*邮箱格式错误");
                    } else {
                        $('#EmailMsg').text("");
                    }
                    if (!pwd.test(Password)) {
                        $('#PwdMsg').text("*密码的长度为6~16个字符。");
                    } else {
                        $('#PwdMsg').text("");
                    }
                    if (Password != ConfirmPassword) {
                        $('#ConfirmPwdMsg').text("*两次输入的密码不一致。");
                    } else {
                        $('#ConfirmPwdMsg').text("");
                    }
                    if (InputVerificationCode=="") {
                        $('#VerificationCodeMsg').text("*请输入验证码");
                    } else {
                        $('#VerificationCodeMsg').text("");
                    }

                    if (UserName != "" && reg.test(UserEmail) && pwd.test(Password) && Password == ConfirmPassword && InputVerificationCode != "") {
                        $.ajax({
                            url: '/Access/RegisterPost',
                            type: 'POST',
                            data: {
                                UserName: $('#UserName').val(),
                                UserEmail: $('#UserEmail').val(),
                                Password: $('#Password').val(),
                                InputVerificationCode: $('#InputVerificationCode').val()
                            },
                            success: function (msg) {
                                if (msg == -101) {
                                    $('#VerificationCodeMsg').text("*验证码错误");
                                }
                                if (msg>0) {
                                    window.location.href = "Login";
                                }
                                //alert(msg)
                            }
                        });
                    }
                    
                }
            </script>
        </div>
    </div>

</div>
