@{
    ViewBag.Title = "我的微博";
    Layout = "~/Views/shared/_LayoutHome.cshtml";
}

@section Head{    @*head文件*@
<link href="~/Content/css/MymicrobolgStyle.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
<script src="~/Scripts/EasyUI/locale/easyui-lang-zh_CN.js"></script>
<link href="~/Scripts/EasyUI/themes/default/easyui.css" rel="stylesheet" />
<link href="~/Scripts/EasyUI/themes/icon.css" rel="stylesheet" />

<link href="~/umeditor/themes/default/css/umeditor.css" rel="stylesheet" />
<script src="~/umeditor/third-party/jquery.min.js"></script>
<script src="~/umeditor/umeditor.config.js"></script>
<script src="~/umeditor/umeditor.js"></script>
<script src="~/umeditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
    //富文本框编辑器
    //实例化编辑器
    $(function () {
        window.um = UM.getEditor('container', {
            /* 传入配置参数,可配参数列表看umeditor.config.js */
            //toolbar: ['undo redo | bold italic underline', 'emotion']
            toolbar: [
                'source | undo redo | bold italic underline strikethrough | superscript subscript | forecolor backcolor | removeformat |',
                'insertorderedlist insertunorderedlist | selectall cleardoc paragraph | fontfamily fontsize',
                '| justifyleft justifycenter justifyright justifyjustify |',
                'link unlink | emotion image video  | map',
                '| horizontal print preview fullscreen', 'drafts', 'formula'
            ]
        });

        //um.getEditor('editor', { autoFloatEnabled: false });

        /* 设置编辑器内容 */

        //um.setContent('要设置的编辑器内容.');
        //um.setContent('这里写你的内容：');
    });

    //全部  热门   更多固定导航条
    //window.onscroll = function () {
    //    var t = document.documentElement.scrollTop || document.body.scrollTop;
    //    var fi = document.getElementById("minddbar");
    //    if (t >= 500) {
    //        fi.style.position = "absolute";
    //        fi.style.top = t - 490 + "px";
    //    }
    //}
    window.onscroll = function () {
        var t = document.documentElement.scrollTop || document.body.scrollTop;

        var fi = document.getElementById("minddbar");
        if (t >= 513) {
            //alert(t);
            fi.style.position = "absolute";
            //fi.style.left = "733px";
            fi.style.top = t + "px";
        }
        else {
            fi.style.position = "absolute";
            //fi.style.left = "735x";
            fi.style.top = "513px";
        }
    }

    function dels(i) {
        //if ($("#twoinfor").css("display") == 'block') {

        //}
        //$("#del")(function () {
        //    $("#twoinfor").css({ "display": "block" });

        //});
        //if ($("#twoinfor").css("display") == 'block') {

        //    $("#del").click(function () {
        //        $("#twoinfor").css({ "display": "none" });
        //    });
        //}
        //this.css({ "display": "block" });
        //for (var i = 0; i < 10; i++) {
        //    var fi = document.getElementById("twoinfor_1");
        //    fi.style.display = "block";
        //    alert(fi.style.display);
        //}

        var index = 0;
        var fi = i.id
        var num = fi.substring(4, 5);
        var ff = document.getElementById("twoinfor_" + num);
        if (index == 0) {
            index = 0;
            ff.style.display = "block";
            index += 1;
        }
        else {
            ff.style.display = "none";
            index = 0;
        }
    }



    //发布微博 窗口 //发布微博按钮点击
    function getContents() {
        
        /* 获取编辑器内容   带HTML格式*/
        var html = um.getContent();
        //alert(html)

        //document.getElementById('ss').innerHTML = html;


        $.ajax({
            type: 'POST',
            url: '/Home/PublishWeibo',
            data: {
                PublishWeiboHtml: html
            },
            success: function (msg) {
                if (msg > 0) {
                    alert("发布成功！")
                    window.location = location;
                }
            }
        });
    }
    //function getContentTxts() {
    //    /* 获取编辑器内容 纯文本格式*/
    //    var txt = um.getContentTxt();
    //    alert(txt)
    //    //document.getElementById('ss').innerHTML = txt;
    //}

</script>

}

<!--用户头像背景图片-->
@section UserSkinBg{
    <style type="text/css">
        #handbgi {
            background-image: url(/content/images/UserImg/mymicrobolg/handimg.jpg);
        }
    </style>
}
<!--用户头像-->
@section HeadPortrait{
    <img id="handimgmax" class="handimgmaxs" src="/content/images/UserImg/mymicrobolg/handimgmax.jpg" />
}
<!--更换皮肤-->
@section ReplaceSkin{
    <img src="/content/images/LayoutHome/updatebg.png" height="20" /><span>更换皮肤</span>
}


<div id="MyBody" class="" style="width: 1300px; height: 100%; margin: 0px auto;">
    <div style="height:auto;">

        <div style="overflow: hidden; height: auto">
            <div id="left">
                <div id="leftk">
                    <div id="leftinfor">
                        <ul>
                            <li><a href="#">342</a></li>
                            <li>关注</li>
                        </ul>
                        <ul>
                            <li><a href="#">183732983</a></li>
                            <li>粉丝</li>
                        </ul>
                        <ul style="border: none;">
                            <li><a href="#">453</a></li>
                            <li>微博</li>
                        </ul>
                    </div>
                </div>
                <div id="leftlabel">
                    <div class="leftwrite">
                        <p>个性标签</p>
                    </div>
                    <div id="leftlabeltext">
                        <span>笔芯啦啦</span><span>实力水吹</span>
                        <span>小仙女</span><span>铁杆粉丝</span>
                        <span>可爱</span><span>啦啦啦</span>
                        <span>可爱</span><span>实力水吹</span>
                        <span><a href="#">…</a></span>
                    </div>
                    <div id="leftadd">
                        <input type="text" class="addtext" /><input type="button" class="addbtn" value="添加" />
                    </div>

                </div>
                <div id="leftLately">
                    <div class="leftwrite">
                        <p>最近关注</p>
                    </div>
                    <ul>
                        @foreach (DTO.UserInfoAndGoodFriendDto item in ViewBag.listUserFriend)
                        {
                            <li title="@item.UserName"><a href="#"><img style="width: 80px; height: 80px; border-radius: 50% 50%; " src="@item.UserHeadPortrait" /></a></li>
                        }

                        @*<li title="最近关注用户1"><a href="#"></a></li>
                            <li title="最近关注用户2"><a href="#"></a></li>
                            <li title="最近关注用户2"><a href="#"></a></li>
                            <li title="最近关注用户2"><a href="#"></a></li>
                            <li title="最近关注用户2"><a href="#"></a></li>
                            <li title="最近关注用户2"><a href="#"></a></li>*@
                    </ul>
                </div>
            </div>


            <div id="mindds" class="mindd">

                <div id="minddbar" style="margin-bottom:-70px;">
                    <div id="minddbarl">
                        <!--全部  热门   更多-->

                        <ul id="minddbarul">
                            <li class="ac"><a href="#">全部</a></li>
                            <li class="ac"><a href="#">热门</a></li>
                            <li class="xiala">
                                <a href="#">更多</a>
                                <ul id="twobar">
                                    <li><a href="#">原创</a></li>
                                    <li><a href="#">图片</a></li>
                                    <li><a href="#">视频</a></li>
                                    <li><a href="#">音乐</a></li>
                                </ul>
                            </li>
                            @*<li class="ac"><a style="cursor:pointer" onclick="PublishWeibo()">发布微博</a></li>*@
                            <li class="mindsearch">
                                <input type="text" id="mindtxt" />
                                <input type="button" value="搜索" id="mindbtn" />
                            </li>
                        </ul>

                    </div>
                </div>

                <br /><br /><br />
                <!--////////////////////////////////////////////////////////////////////---发布微博框开始---///////////////////////////////////////////////////////////////////////////-->
                <div id="PublishWeiboId" class="PublishWeibo">
                    <script id="container" name="content" type="text/plain" style="width: 865px; height: 300px;">

                    </script>
                    <div style="background-color:#fff;border-top:2px solid red;">
                        @*<button onclick="getContentTxts()" class="">获取TXT</button>*@
                        <button onclick="getContents()" class="PublishWeibobtn">发布</button>
                    </div>

                </div>
                @*<div id="ss"></div>*@
                <!--////////////////////////////////////////////////////////////////////---发布微博框结束---///////////////////////////////////////////////////////////////////////////-->


                <!--////////////////////////////////////////////////////////////////////---微博文章展示框开始---///////////////////////////////////////////////////////////////////////////-->
                @foreach (DTO.MicroBlogAndUserInfDto item in ViewBag.listUserMicroBlog)
                {

                    <div class="mindmicroblog">
                        <div class="microblogtop">
                            <!--用户头像-->
                            <div class="tophadnimg">
                                <img src="@item.UserHeadPortrait" />
                            </div>
                            <div class="topinfor">
                                <ul>
                                    <li class="topname"><a href="#">@item.UserName</a></li>
                                    <li>
                                        @item.CreateTime
                                    <li>
                                </ul>
                            </div>
                            <div id="del_@item.MicroBlogID" class="dels" onclick="delss(this)" ondblclick="remove(this)">
                            </div>
                            <div id="twoinfor_@item.MicroBlogID" class="twoinfors">
                                <ul>
                                    <li><a href="#" onclick="Deletes( @item.MicroBlogID)">删除</a></li>
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">收藏</a></li>
                                </ul>
                            </div>
                        </div>

                        @*判断用户微博中的数据*@
                        <div id="mbtext" style="margin-left:20px;width:670px; margin-top: 20px; font-size: 15px; overflow: hidden" class="wb_content">
                            <style type="text/css">
                                .wb_content img {
                                    padding-right: 20px;
                                    padding-top: 15px;
                                    float: left;
                                    width: 200px;
                                    height: 200px;
                                }
                            </style>
                            @Html.Raw(item.Content_text)
                            /div>
                            @*if (item.Content_text != null && item.Content_img == null && item.Content_video == null)
                                {
                                    <div class="microblogmid">
                                        @item.Content_text
                                    </div>
                                }
                                else if (item.Content_text != null && item.Content_img != null && item.Content_video == null)
                                {
                                    <div class="microblogmid">
                                        @item.Content_text
                                        <img src="@item.Content_img" />
                                    </div>
                                }
                                else if (item.Content_text != null && item.Content_img == null && item.Content_video != null)
                                {
                                    <div class="microblogmid">
                                        @item.Content_text
                                        <video controls="controls" src="@item.Content_video"></video>
                                    </div>
                                }*@

                            <div class="microblogbtm">
                                <ul>
                                    @*<ul>
                                            <li><a href="#">( ′▽` )?转发</a></li>
                                            <li><a href="#">???( ??? )???评论</a></li>
                                            <li><a href="#">(￣▽￣)／赞</a></li>
                                        </ul>*@
                                    <li><a href="#"><span class="zf"><span style="margin-left:20px;padding-left:6px">36592</span></span></a></li>
                                    <li>
                                        <a href="#">
                                            <span class="pl"><span style="margin-left: 20px; padding-left: 6px">2354</span></span>
                                        </a>
                                    </li>
                                    <li><a href="#"><span class="dz"><span style="margin-left: 20px; padding-left: 6px">23</span></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                <!--////////////////////////////////////////////////////////////////////---微博文章展示框结束---///////////////////////////////////////////////////////////////////////////-->


            </div>
        </div>
    </div>
</div>
